<div class="container">
    <div class="row d-flex text-end">
        <div class="col-12">
            <button class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#projectModal">Create New
                Project</button>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-3" *ngFor="let item of AllProjects">
        <div class="card p-2 m-2">
            <div class="card-header bg-info">
                {{item.shortName}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6"> {{item.projectName}}</div>
                    <div class="col-6"> {{item.createdDate | date:'short'}}</div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-success btn-sm" (click)="onEdit(item.projectId)">Edit</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger btn-sm" (click)="onDelete(item.projectId)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Project</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <label for="projectName">projectName</label>
                        <input type="text" name="projectName" id="projectName" class="form-control"
                            [(ngModel)]="createProjectObj.projectName">
                    </div>
                    <div class="col-6">
                        <label for="shortName">shortName</label>
                        <input type="text" name="shortName" id="shortName" class="form-control"
                            [(ngModel)]="createProjectObj.shortName">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="createProject()">Create</button>
            </div>
        </div>
    </div>
</div>